* > *[data-ut-element='upload-icon'] {
  color: hsl(var(--muted-foreground));
}

* > *[data-ut-element='upload-icon']:hover {
  color: hsl(var(--muted-foreground));
  opacity: 0.8;
}

* > *[data-ut-element='label'] {
  color: hsl(var(--foreground));
}

* > *[data-ut-element='label']:hover {
  color: hsl(var(--foreground));
  opacity: 0.8;
}

* > *[data-ut-element='button'] {
  color: hsl(var(--primary-foreground));
  background-color: hsl(var(--primary));
}

* > *[data-ut-element='button'][data-state='readying'] {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  cursor: not-allowed;
  opacity: 0.8;
}

* > *[data-ut-element='button'][data-state='uploading'] {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  cursor: not-allowed;
  opacity: 0.8;
}

* > *[data-ut-element='button'][data-state='uploading']::after {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}
